---
import '@fontsource/gothic-a1';
---

<div class=" flex flex-col items-center py-10 md:py-20 lg:py-36 font-gothic">
    <div class="my-20 py-8 lg:py-28 bg-[#323149] rounded-xl">
        <p class="px-5 text-[18px] lg:text-3xl text-center italic md:max-w-2xl lg:max-w-[1200px]">Nuesta misión es proporcionar cortes de cabello de calidad en tiempos eficientes, sin comprometer la experiencia del cliente, en un ambiente profesional y amigable.</p>
    </div>
</div>

<div class="w-full h-full lg:grid grid-cols-2 lg:grid-cols-3 gap-8 font-gothic">
  <div class="m-auto flex flex-col items-center pb-5">
    <h3 class="text-4xl  lg:text-8xl uppercase text-center font-bold">Nuestra esquina</h3>
    <p class=" lg:text-3xl text-center py-3">Soler 398, esquina Lavalle, Ituzaingó</p>
    <p class=" lg:text-3xl text-center py-3">Martes a Sábado de 9:30 a 20 hs.</p>
  </div>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.9307212144267!2d-58.67314667304684!3d-34.656452499999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbf609e9d19df%3A0x71a8e1d95bd46dfc!2sStylos%20Barber!5e0!3m2!1ses-419!2sar!4v1726241389255!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full max-w-[1200px] h-[358px] lg:h-[495px] rounded-xl lg:col-span-2"></iframe>
 </div>