---
import CardNosotros from "../CardNosotros.astro";
---

<section class="w-full relative py-10 md:py-20 lg:py-36 font-gothic">
  <div class="lg:py-14">
    <h2 class="text-6xl uppercase font-bold">La familia stylo's</h2>
    <h4 class="text-left text-5xl py-4">Administración</h4>
  </div>

  <div
    class="w-full mx-auto grid grid-cols-[repeat(auto-fill,_minmax(300px,_1fr))] gap-9"
  >
    <CardNosotros
      imagePath="/src/assets/hombre1.jpg"
      altText="Dennys Fernández"
      cardName="Dennys"
      cardDescription="Peluquero y fundador de Stylo's"
    />
    <CardNosotros
      imagePath="/src/assets/mujer1.jpg"
      altText="Mariana Sanmartín"
      cardName="Mariana"
      cardDescription="Lic. Ciencias de la Educación"
    />
    <CardNosotros
      imagePath="/src/assets/mujer1.jpg"
      altText="Mailén Fernández"
      cardName="Mailén"
      cardDescription="Administrativa y manejo de redes"
    />
    <CardNosotros
      imagePath="/src/assets/hombre1.jpg"
      altText="Milton Fernández"
      cardName="Milton"
      cardDescription="Administrativo y diseñador web"
    />
  </div>
  <h4 class="text-left text-5xl py-14">Barberos</h4>
  <div
    class="w-full mx-auto grid grid-cols-[repeat(auto-fill,_minmax(300px,_1fr))] gap-9"
  >
    <CardNosotros
      imagePath="/src/assets/Barbero1.jpg"
      altText="Leandro Fernández"
      cardName="Leandro"
      cardDescription="Barbero en Stylo´s"
    />
    <CardNosotros
      imagePath="/src/assets/Barbero2.jpg"
      altText="Elias Lopez"
      cardName="Elías"
      cardDescription="Barbero en Stylo´s"
    />
    <CardNosotros
      imagePath="/src/assets/Barbero1.jpg"
      altText="Marcos Sanchez"
      cardName="Marcos"
      cardDescription="Barbero en Stylo´s"
    />
    <CardNosotros
      imagePath="/src/assets/Barbero2.jpg"
      altText="Nehuen Reyes"
      cardName="Marcos"
      cardDescription="Barbero en Stylo´s"
    />
  </div>
</section>
